<html xmlns:th="http://www.thymeleaf.org">

<body>
<table 	border="1">
    <tr th:each="tempC: ${courses}">
        <td th:text = "${tempC.getIdc()}"></td>
        <td th:text = "${tempC.getTitle()}"></td>
        <td th:text = "${tempC.getCp()}"></td>


        <td>
            <ul>
                <li th:each="tempP : ${tempC.getProfessors()}">
                    <span th:text="${tempP.getName()}">Name</span>
                    <span th:text="${tempP.getSurname()}">Name</span>
                </li>
            </ul>
        </td>


    </tr>
</table>
</body>

</html>